[submodule "bundle/vim-fugitive"]
  path = bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
  ignore=dirty
[submodule "bundle/matchit"]
  path = bundle/matchit
  url = https://github.com/vim-scripts/matchit.zip.git
  ignore=dirty
[submodule "bundle/vim-align"]
  path = bundle/vim-align
  url = https://github.com/tsaleh/vim-align.git
  ignore=dirty
[submodule "bundle/nerdcommenter"]
  path = bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git
  ignore=dirty
[submodule "bundle/supertab"]
  path = bundle/supertab
  url = https://github.com/ervandew/supertab
  ignore=dirty
[submodule "bundle/vim-endwise"]
  path = bundle/vim-endwise
  url = https://github.com/tpope/vim-endwise
  ignore=dirty
[submodule "bundle/delimitMate"]
  path = bundle/delimitMate
  url = https://github.com/Raimondi/delimitMate
  ignore=dirty
[submodule "bundle/n3"]
  path = bundle/n3
  url = https://github.com/vim-scripts/n3.vim.git
  ignore=dirty
[submodule "bundle/sparql"]
  path = bundle/sparql
  url = https://github.com/arnau/sparql.vim.git
  ignore=dirty
[submodule "bundle/teaspoon"]
  path = bundle/teaspoon
  url = https://github.com/arnau/teaspoon.vim
  ignore=dirty
[submodule "bundle/vim-repeat"]
  path = bundle/vim-repeat
  url = https://github.com/tpope/vim-repeat.git
  ignore=dirty
[submodule "bundle/vim-surround"]
  path = bundle/vim-surround
  url = https://github.com/tpope/vim-surround.git
  ignore=dirty
[submodule "bundle/vim-pathogen"]
  path = bundle/vim-pathogen
  url = https://github.com/tpope/vim-pathogen.git
  ignore=dirty
[submodule "bundle/vim-ragtag"]
  path = bundle/vim-ragtag
  url = https://github.com/tpope/vim-ragtag.git
  ignore=dirty
[submodule "bundle/vim-coffe-script"]
  path = bundle/vim-coffe-script
  url = https://github.com/kchmck/vim-coffee-script.git
  ignore=dirty
[submodule "bundle/vim-r-plugin"]
  path = bundle/vim-r-plugin
  url = https://github.com/vim-scripts/Vim-R-plugin.git
  ignore=dirty
[submodule "bundle/vim-screen"]
  path = bundle/vim-screen
  url = https://github.com/vim-scripts/Screen-vim---gnu-screentmux.git
  ignore=dirty
[submodule "bundle/puppet-syntax-vim"]
  path = bundle/puppet-syntax-vim
  url = https://github.com/puppetlabs/puppet-syntax-vim
  ignore=dirty
[submodule "bundle/vim-tbone"]
  path = bundle/vim-tbone
  url = https://github.com/tpope/vim-tbone.git
  ignore=dirty
[submodule "bundle/vimerl"]
  path = bundle/vimerl
  url = https://github.com/oscarh/vimerl.git
  ignore=dirty
[submodule "bundle/editorconfig-vim"]
  path = bundle/editorconfig-vim
  url = https://github.com/editorconfig/editorconfig-vim.git
  ignore=dirty
[submodule "bundle/vimshell"]
  path = bundle/vimshell
  url = https://github.com/Shougo/vimshell.vim.git
  ignore=dirty
[submodule "bundle/vimproc"]
  path = bundle/vimproc
  url = http://github.com/Shougo/vimproc.git
  ignore=dirty
[submodule "bundle/unite.vim"]
  path = bundle/unite.vim
  url = https://github.com/Shougo/unite.vim
  ignore=dirty
[submodule "bundle/vim-airline"]
  path = bundle/vim-airline
  url = https://github.com/bling/vim-airline
  ignore=dirty
[submodule "bundle/vim-gitgutter"]
  path = bundle/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
  ignore=dirty
[submodule "bundle/json"]
  path = bundle/json
  url = https://github.com/vim-scripts/JSON.vim
  ignore=dirty
[submodule "bundle/ctrlp"]
  path = bundle/ctrlp
  url = https://github.com/kien/ctrlp.vim.git
  ignore=dirty
[submodule "bundle/emmet"]
  path = bundle/emmet
  url = https://github.com/vim-scripts/Emmet.vim
  ignore=dirty
[submodule "bundle/vim-markdown"]
  path = bundle/vim-markdown
  url = https://github.com/tpope/vim-markdown
  ignore=dirty
[submodule "bundle/vim-commentary"]
  path = bundle/vim-commentary
  url = https://github.com/tpope/vim-commentary
  ignore=dirty
[submodule "bundle/vim-golang"]
  path = bundle/vim-golang
  url = https://github.com/jnwhiteh/vim-golang
  ignore=dirty
[submodule "bundle/vim-stylus"]
  path = bundle/vim-stylus
  url = https://github.com/wavded/vim-stylus
  ignore=dirty
[submodule "bundle/vim-mustache-handlebars"]
  path = bundle/vim-mustache-handlebars
  url = https://github.com/mustache/vim-mustache-handlebars
  ignore=dirty
[submodule "bundle/vim-ruby-xmpfilter"]
  path = bundle/vim-ruby-xmpfilter
  url = https://github.com/t9md/vim-ruby-xmpfilter
  ignore=dirty
[submodule "bundle/vim-rake"]
  path = bundle/vim-rake
  url = https://github.com/tpope/vim-rake
  ignore=dirty
[submodule "vimfiler.vim"]
  path = bundle/vimfiler.vim
  url = https://github.com/Shougo/vimfiler.vim
  ignore=dirty
[submodule "bundle/vim-jsx"]
  path = bundle/vim-jsx
  url = https://github.com/mxw/vim-jsx
  ignore=dirty
[submodule "bundle/dockerfile.vim"]
  path = bundle/dockerfile.vim
  url = https://github.com/honza/dockerfile.vim
  ignore=dirty
[submodule "bundle/vim-javascript"]
  path = bundle/vim-javascript
  url = https://github.com/pangloss/vim-javascript.git
  ignore=dirty
[submodule "bundle/vim-toml"]
	path = bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax
[submodule "bundle/vim-atom-dark"]
	path = bundle/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark
[submodule "bundle/vim-css"]
	path = bundle/vim-css
	url = https://github.com/lepture/vim-css
